button{
    background-color: blue;
    transition: all 1s;
}
 button:hover {
     background-color: darkgreen ;
 }
 h1{
    font-weight: 900;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
 }